services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: bdx
      POSTGRES_PASSWORD: bdx
      POSTGRES_DB: bdx
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

