services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: bdx
      POSTGRES_PASSWORD: bdx
      POSTGRES_DB: bdx
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
