openapi: 3.0.0
info:
  title: TwitterAPI.io the most stable/fastest/cheapest twitter api.
  version: 1.0.0
  description: Provide the most stable/fastest/cheapest twitter api.
servers:
  - url: https://api.twitterapi.io
paths:
  /twitter/user/info:
    parameters: []
    get:
      summary: Get unser info by screen name
      tags:
        - twitter
        - user
        - info
      parameters:
        - name: userName
          in: query
          required: false
          description: The screen name of the user
          example: string
          schema:
            deprecated: false
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: User info
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - user
                      userName:
                        type: string
                        description: The username of the Twitter user
                      url:
                        type: string
                        description: The x.com URL of the user's profile
                      id:
                        type: string
                        description: The unique identifier of the user
                      name:
                        type: string
                        description: The display name of the user
                      isBlueVerified:
                        type: boolean
                        description: Whether the user has Twitter Blue verification
                      verifiedType:
                        type: string
                        description: >-
                          The type of verification. eg. "government" ,can be
                          empty
                      profilePicture:
                        type: string
                        description: URL of the user's profile picture
                      coverPicture:
                        type: string
                        description: URL of the user's cover picture
                      description:
                        type: string
                        description: The user's profile description
                      location:
                        type: string
                        description: 'The user''s location.for example: 東京の端っこ . may be empty'
                      followers:
                        type: integer
                        description: Number of followers
                      following:
                        type: integer
                        description: Number of accounts following
                      canDm:
                        type: boolean
                        description: Whether the user can receive DMs
                      createdAt:
                        type: string
                        description: >-
                          When the account was created.for example: Thu Dec 13
                          08:41:26 +0000 2007
                      favouritesCount:
                        type: integer
                        description: Number of favorites
                      hasCustomTimelines:
                        type: boolean
                        description: Whether the user has custom timelines
                      isTranslator:
                        type: boolean
                        description: Whether the user is a translator
                      mediaCount:
                        type: integer
                        description: Number of media posts
                      statusesCount:
                        type: integer
                        description: Number of status updates
                      withheldInCountries:
                        type: array
                        description: Countries where the account is withheld
                        items:
                          type: string
                      affiliatesHighlightedLabel:
                        type: object
                        properties: {}
                      possiblySensitive:
                        type: boolean
                        description: Whether the account may contain sensitive content
                      pinnedTweetIds:
                        type: array
                        description: IDs of pinned tweets
                        items:
                          type: string
                      isAutomated:
                        type: boolean
                        description: Whether the account is automated
                      automatedBy:
                        type: string
                        description: The account that automated the account
                      unavailable:
                        type: boolean
                        description: Whether the account is unavailable
                      message:
                        type: string
                        description: >-
                          The message of the account.eg. "This account is
                          unavailable" or "This account is suspended"
                      unavailableReason:
                        type: string
                        description: 'The reason the account is unavailable.eg. "suspended" '
                      profile_bio:
                        type: object
                        properties:
                          description:
                            type: string
                          entities:
                            type: object
                            properties:
                              description:
                                type: object
                                properties:
                                  urls:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        display_url:
                                          type: string
                                        expanded_url:
                                          type: string
                                        indices:
                                          type: array
                                          items:
                                            type: integer
                                        url:
                                          type: string
                              url:
                                type: object
                                properties:
                                  urls:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        display_url:
                                          type: string
                                        expanded_url:
                                          type: string
                                        indices:
                                          type: array
                                          items:
                                            type: integer
                                        url:
                                          type: string
                  status:
                    type: string
                    enum:
                      - success
                      - error
                    description: Status of the request.success or error
                  msg:
                    type: string
                    description: Message of the request.error message
              example:
                data:
                  type: user
                  userName: string
                  url: string
                  id: string
                  name: string
                  isBlueVerified: false
                  verifiedType: string
                  profilePicture: string
                  coverPicture: string
                  description: string
                  location: string
                  followers: 1955
                  following: 4492
                  canDm: false
                  createdAt: string
                  favouritesCount: 3725
                  hasCustomTimelines: false
                  isTranslator: true
                  mediaCount: 5077
                  statusesCount: 9340
                  withheldInCountries:
                    - string
                    - string
                  affiliatesHighlightedLabel: {}
                  possiblySensitive: false
                  pinnedTweetIds:
                    - string
                    - string
                  isAutomated: true
                  automatedBy: string
                  unavailable: false
                  message: str
                  unavailableReason: string
                  profile_bio:
                    description: string
                    entities:
                      description:
                        urls:
                          - display_url: string
                            expanded_url: string
                            indices:
                              - 1235
                              - 6450
                            url: string
                          - display_url: string
                            expanded_url: string
                            indices:
                              - 123
                              - 9082
                            url: string
                      url:
                        urls:
                          - display_url: string
                            expanded_url: string
                            indices:
                              - 4156
                              - 1768
                            url: string
                          - display_url: string
                            expanded_url: string
                            indices:
                              - 4662
                              - 1150
                            url: string
                status: success
                msg: string
        '400':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: integer
                  message:
                    type: string
                required:
                  - error
                  - message
              example:
                error: 520
                message: string
  /twitter/user/search:
    parameters: []
    get:
      summary: Search user by keyword
      tags:
        - twitter
        - user
        - search
      parameters:
        - name: query
          in: query
          required: false
          description: The keyword to search
          example: string
          schema:
            deprecated: false
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: User info
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    description: Array of users
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - user
                        userName:
                          type: string
                          description: The username of the Twitter user
                        url:
                          type: string
                          description: The x.com URL of the user's profile
                        id:
                          type: string
                          description: The unique identifier of the user
                        name:
                          type: string
                          description: The display name of the user
                        isBlueVerified:
                          type: boolean
                          description: Whether the user has Twitter Blue verification
                        verifiedType:
                          type: string
                          description: >-
                            The type of verification. eg. "government" ,can be
                            empty
                        profilePicture:
                          type: string
                          description: URL of the user's profile picture
                        coverPicture:
                          type: string
                          description: URL of the user's cover picture
                        description:
                          type: string
                          description: The user's profile description
                        location:
                          type: string
                          description: >-
                            The user's location.for example: 東京の端っこ . may be
                            empty
                        followers:
                          type: integer
                          description: Number of followers
                        following:
                          type: integer
                          description: Number of accounts following
                        canDm:
                          type: boolean
                          description: Whether the user can receive DMs
                        createdAt:
                          type: string
                          description: >-
                            When the account was created.for example: Thu Dec 13
                            08:41:26 +0000 2007
                        favouritesCount:
                          type: integer
                          description: Number of favorites
                        hasCustomTimelines:
                          type: boolean
                          description: Whether the user has custom timelines
                        isTranslator:
                          type: boolean
                          description: Whether the user is a translator
                        mediaCount:
                          type: integer
                          description: Number of media posts
                        statusesCount:
                          type: integer
                          description: Number of status updates
                        withheldInCountries:
                          type: array
                          description: Countries where the account is withheld
                          items:
                            type: string
                        affiliatesHighlightedLabel:
                          type: object
                          properties: {}
                        possiblySensitive:
                          type: boolean
                          description: Whether the account may contain sensitive content
                        pinnedTweetIds:
                          type: array
                          description: IDs of pinned tweets
                          items:
                            type: string
                        isAutomated:
                          type: boolean
                          description: Whether the account is automated
                        automatedBy:
                          type: string
                          description: The account that automated the account
                        unavailable:
                          type: boolean
                          description: Whether the account is unavailable
                        message:
                          type: string
                          description: >-
                            The message of the account.eg. "This account is
                            unavailable" or "This account is suspended"
                        unavailableReason:
                          type: string
                          description: >-
                            The reason the account is unavailable.eg.
                            "suspended" 
                        profile_bio:
                          type: object
                          properties:
                            description:
                              type: string
                            entities:
                              type: object
                              properties:
                                description:
                                  type: object
                                  properties:
                                    urls:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          display_url:
                                            type: string
                                          expanded_url:
                                            type: string
                                          indices:
                                            type: array
                                            items:
                                              type: integer
                                          url:
                                            type: string
                                url:
                                  type: object
                                  properties:
                                    urls:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          display_url:
                                            type: string
                                          expanded_url:
                                            type: string
                                          indices:
                                            type: array
                                            items:
                                              type: integer
                                          url:
                                            type: string
                  has_next_page:
                    type: boolean
                    description: Indicates if there are more results available
                  next_cursor:
                    type: string
                    description: Cursor for fetching the next page of results
                  status:
                    type: string
                    enum:
                      - success
                      - error
                    description: Status of the request.success or error
                  msg:
                    type: string
                    description: Message of the request.error message
              example:
                users:
                  - type: user
                    userName: string
                    url: string
                    id: string
                    name: string
                    isBlueVerified: true
                    verifiedType: string
                    profilePicture: string
                    coverPicture: string
                    description: string
                    location: string
                    followers: 5499
                    following: 2708
                    canDm: false
                    createdAt: string
                    favouritesCount: 1029
                    hasCustomTimelines: false
                    isTranslator: true
                    mediaCount: 8746
                    statusesCount: 6318
                    withheldInCountries:
                      - string
                      - string
                    affiliatesHighlightedLabel: {}
                    possiblySensitive: false
                    pinnedTweetIds:
                      - string
                      - string
                    isAutomated: false
                    automatedBy: string
                    unavailable: true
                    message: string
                    unavailableReason: string
                    profile_bio:
                      description: string
                      entities:
                        description:
                          urls:
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 1640
                                - 4475
                              url: string
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 5430
                                - 6919
                              url: string
                        url:
                          urls:
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 9398
                                - 4433
                              url: string
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 9404
                                - 3693
                              url: string
                  - type: user
                    userName: string
                    url: string
                    id: string
                    name: string
                    isBlueVerified: false
                    verifiedType: string
                    profilePicture: string
                    coverPicture: string
                    description: st
                    location: string
                    followers: 7656
                    following: 9500
                    canDm: true
                    createdAt: string
                    favouritesCount: 7222
                    hasCustomTimelines: false
                    isTranslator: false
                    mediaCount: 6187
                    statusesCount: 2997
                    withheldInCountries:
                      - string
                      - string
                    affiliatesHighlightedLabel: {}
                    possiblySensitive: false
                    pinnedTweetIds:
                      - string
                      - string
                    isAutomated: false
                    automatedBy: string
                    unavailable: false
                    message: string
                    unavailableReason: string
                    profile_bio:
                      description: string
                      entities:
                        description:
                          urls:
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 6976
                                - 2111
                              url: string
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 3074
                                - 6562
                              url: string
                        url:
                          urls:
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 9326
                                - 5246
                              url: string
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 2003
                                - 2416
                              url: string
                has_next_page: true
                next_cursor: string
                status: error
                msg: string
        '400':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: integer
                  message:
                    type: string
                required:
                  - error
                  - message
              example:
                error: 520
                message: string
  /twitter/user/batch_info_by_ids:
    parameters: []
    get:
      summary: >-
        Batch get user info by user ids. Pricing:


        - Single user request: 18 credits per user

        - Bulk request (100+ users): 10 credits per user


        Note: For cost optimization, we recommend batching requests when
        fetching multiple user profiles.
      tags:
        - twitter
        - user
        - batch_info_by_ids
      parameters:
        - name: userIds
          in: query
          required: true
          description: >-
            (Required) The user ids to get.eg. 1234567890,1234567891,1234567892.
            Use comma to separate multiple user ids
          example: string
          schema:
            deprecated: false
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: User infos
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    description: Array of user infos
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - user
                        userName:
                          type: string
                          description: The username of the Twitter user
                        url:
                          type: string
                          description: The x.com URL of the user's profile
                        id:
                          type: string
                          description: The unique identifier of the user
                        name:
                          type: string
                          description: The display name of the user
                        isBlueVerified:
                          type: boolean
                          description: Whether the user has Twitter Blue verification
                        verifiedType:
                          type: string
                          description: >-
                            The type of verification. eg. "government" ,can be
                            empty
                        profilePicture:
                          type: string
                          description: URL of the user's profile picture
                        coverPicture:
                          type: string
                          description: URL of the user's cover picture
                        description:
                          type: string
                          description: The user's profile description
                        location:
                          type: string
                          description: >-
                            The user's location.for example: 東京の端っこ . may be
                            empty
                        followers:
                          type: integer
                          description: Number of followers
                        following:
                          type: integer
                          description: Number of accounts following
                        canDm:
                          type: boolean
                          description: Whether the user can receive DMs
                        createdAt:
                          type: string
                          description: >-
                            When the account was created.for example: Thu Dec 13
                            08:41:26 +0000 2007
                        favouritesCount:
                          type: integer
                          description: Number of favorites
                        hasCustomTimelines:
                          type: boolean
                          description: Whether the user has custom timelines
                        isTranslator:
                          type: boolean
                          description: Whether the user is a translator
                        mediaCount:
                          type: integer
                          description: Number of media posts
                        statusesCount:
                          type: integer
                          description: Number of status updates
                        withheldInCountries:
                          type: array
                          description: Countries where the account is withheld
                          items:
                            type: string
                        affiliatesHighlightedLabel:
                          type: object
                          properties: {}
                        possiblySensitive:
                          type: boolean
                          description: Whether the account may contain sensitive content
                        pinnedTweetIds:
                          type: array
                          description: IDs of pinned tweets
                          items:
                            type: string
                        isAutomated:
                          type: boolean
                          description: Whether the account is automated
                        automatedBy:
                          type: string
                          description: The account that automated the account
                        unavailable:
                          type: boolean
                          description: Whether the account is unavailable
                        message:
                          type: string
                          description: >-
                            The message of the account.eg. "This account is
                            unavailable" or "This account is suspended"
                        unavailableReason:
                          type: string
                          description: >-
                            The reason the account is unavailable.eg.
                            "suspended" 
                        profile_bio:
                          type: object
                          properties:
                            description:
                              type: string
                            entities:
                              type: object
                              properties:
                                description:
                                  type: object
                                  properties:
                                    urls:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          display_url:
                                            type: string
                                          expanded_url:
                                            type: string
                                          indices:
                                            type: array
                                            items:
                                              type: integer
                                          url:
                                            type: string
                                url:
                                  type: object
                                  properties:
                                    urls:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          display_url:
                                            type: string
                                          expanded_url:
                                            type: string
                                          indices:
                                            type: array
                                            items:
                                              type: integer
                                          url:
                                            type: string
                  status:
                    type: string
                    enum:
                      - success
                      - error
                    description: Status of the request.success or error
                  msg:
                    type: string
                    description: Message of the request.error message
              example:
                users:
                  - type: user
                    userName: string
                    url: string
                    id: string
                    name: string
                    isBlueVerified: false
                    verifiedType: string
                    profilePicture: string
                    coverPicture: string
                    description: ''
                    location: string
                    followers: 2937
                    following: 1627
                    canDm: false
                    createdAt: stri
                    favouritesCount: 1689
                    hasCustomTimelines: true
                    isTranslator: false
                    mediaCount: 3480
                    statusesCount: 4569
                    withheldInCountries:
                      - string
                      - string
                    affiliatesHighlightedLabel: {}
                    possiblySensitive: true
                    pinnedTweetIds:
                      - string
                      - string
                    isAutomated: false
                    automatedBy: string
                    unavailable: true
                    message: string
                    unavailableReason: string
                    profile_bio:
                      description: string
                      entities:
                        description:
                          urls:
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 9679
                                - 5852
                              url: string
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 9954
                                - 9180
                              url: string
                        url:
                          urls:
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 6589
                                - 2403
                              url: string
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 3695
                                - 246
                              url: string
                  - type: user
                    userName: string
                    url: string
                    id: string
                    name: string
                    isBlueVerified: false
                    verifiedType: string
                    profilePicture: string
                    coverPicture: string
                    description: string
                    location: string
                    followers: 9167
                    following: 1394
                    canDm: true
                    createdAt: string
                    favouritesCount: 2566
                    hasCustomTimelines: true
                    isTranslator: false
                    mediaCount: 2183
                    statusesCount: 7543
                    withheldInCountries:
                      - string
                      - string
                    affiliatesHighlightedLabel: {}
                    possiblySensitive: true
                    pinnedTweetIds:
                      - string
                      - string
                    isAutomated: false
                    automatedBy: str
                    unavailable: true
                    message: string
                    unavailableReason: string
                    profile_bio:
                      description: string
                      entities:
                        description:
                          urls:
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 8091
                                - 8316
                              url: string
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 5135
                                - 9000
                              url: string
                        url:
                          urls:
                            - display_url: string
                              expanded_url: string
                              indices:
                                - 4073
                                - 6397
                              url: string
                            - display_url: string
                              expanded_url: str
                              indices:
                                - 205
                                - 6722
                              url: string
                status: error
                msg: string
        '400':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: integer
                  message:
                    type: string
                required:
                  - error
                  - message
              example:
                error: 520
                message: string
  /twitter/user/last_tweets:
    parameters: []
    get:
      summary: >-
        Retrieve tweets by user name.Sort by created_at. Results are paginated,
        with each page returning up to 20 tweets.If you only need to fetch the
        latest tweets from a single user very frequently, do not use this API—it
        will cost you a lot. Instead, please re
      tags:
        - twitter
        - user
        - last_tweets
      parameters:
        - name: userId
          in: query
          required: false
          description: >-
            user id of the user.userId is recommended, could be more stable and
            faster than userName.userId and userName are mutually exclusive. If
            both are provided, userId will be used.
          example: string
          schema:
            deprecated: false
            type: string
        - name: userName
          in: query
          required: false
          description: >-
            screen name of the user.userId and userName are mutually exclusive.
            If both are provided, userId will be used.
          example: string
          schema:
            deprecated: false
            type: string
        - name: cursor
          in: query
          required: false
          description: The cursor to paginate through the results. First page is "".
          example: string
          schema:
            deprecated: false
            type: string
        - name: includeReplies
          in: query
          required: false
          description: Whether to include replies in the results. Default is False.
          example: 'false'
          schema:
            deprecated: false
            type: boolean
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Tweets response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tweets:
                    type: array
                    description: Array of tweets
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - tweet
                        id:
                          type: string
                          description: The ID of the tweet
                        url:
                          type: string
                          description: The URL of the tweet
                        text:
                          type: string
                          description: The text of the tweet
                        source:
                          type: string
                          description: The source of the tweet.eg. "Twitter for iPhone"
                        retweetCount:
                          type: integer
                          description: The number of times the tweet has been retweeted
                        replyCount:
                          type: integer
                          description: The number of times the tweet has been replied to
                        likeCount:
                          type: integer
                          description: The number of times the tweet has been liked
                        quoteCount:
                          type: integer
                          description: The number of times the tweet has been quoted
                        viewCount:
                          type: integer
                          description: The number of times the tweet has been viewed
                        createdAt:
                          type: string
                          description: >-
                            The date and time the tweet was created.eg. Tue Dec
                            10 07:00:30 +0000 2024
                        lang:
                          type: string
                          description: The language of the tweet.eg. "en".may be empty
                        bookmarkCount:
                          type: integer
                          description: The number of times the tweet has been bookmarked
                        isReply:
                          type: boolean
                          description: Indicates if the tweet is a reply
                        inReplyToId:
                          type: string
                          description: The ID of the tweet being replied to.may be empty
                        conversationId:
                          type: string
                          description: >-
                            The ID of the conversation the tweet is part of.may
                            be empty
                        inReplyToUserId:
                          type: string
                          description: The ID of the user being replied to.may be empty
                        inReplyToUsername:
                          type: string
                          description: >-
                            The username of the user being replied to.may be
                            empty
                        author:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - user
                            userName:
                              type: string
                              description: The username of the Twitter user
                            url:
                              type: string
                              description: The x.com URL of the user's profile
                            id:
                              type: string
                              description: The unique identifier of the user
                            name:
                              type: string
                              description: The display name of the user
                            isBlueVerified:
                              type: boolean
                              description: Whether the user has Twitter Blue verification
                            verifiedType:
                              type: string
                              description: >-
                                The type of verification. eg. "government" ,can
                                be empty
                            profilePicture:
                              type: string
                              description: URL of the user's profile picture
                            coverPicture:
                              type: string
                              description: URL of the user's cover picture
                            description:
                              type: string
                              description: The user's profile description
                            location:
                              type: string
                              description: >-
                                The user's location.for example: 東京の端っこ . may be
                                empty
                            followers:
                              type: integer
                              description: Number of followers
                            following:
                              type: integer
                              description: Number of accounts following
                            canDm:
                              type: boolean
                              description: Whether the user can receive DMs
                            createdAt:
                              type: string
                              description: >-
                                When the account was created.for example: Thu
                                Dec 13 08:41:26 +0000 2007
                            favouritesCount:
                              type: integer
                              description: Number of favorites
                            hasCustomTimelines:
                              type: boolean
                              description: Whether the user has custom timelines
                            isTranslator:
                              type: boolean
                              description: Whether the user is a translator
                            mediaCount:
                              type: integer
                              description: Number of media posts
                            statusesCount:
                              type: integer
                              description: Number of status updates
                            withheldInCountries:
                              type: array
                              description: Countries where the account is withheld
                              items:
                                type: string
                            affiliatesHighlightedLabel:
                              type: object
                              properties: {}
                            possiblySensitive:
                              type: boolean
                              description: >-
                                Whether the account may contain sensitive
                                content
                            pinnedTweetIds:
                              type: array
                              description: IDs of pinned tweets
                              items:
                                type: string
                            isAutomated:
                              type: boolean
                              description: Whether the account is automated
                            automatedBy:
                              type: string
                              description: The account that automated the account
                            unavailable:
                              type: boolean
                              description: Whether the account is unavailable
                            message:
                              type: string
                              description: >-
                                The message of the account.eg. "This account is
                                unavailable" or "This account is suspended"
                            unavailableReason:
                              type: string
                              description: >-
                                The reason the account is unavailable.eg.
                                "suspended" 
                            profile_bio:
                              type: object
                              properties:
                                description:
                                  type: string
                                entities:
                                  type: object
                                  properties:
                                    description:
                                      type: object
                                      properties:
                                        urls:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              display_url:
                                                type: string
                                              expanded_url:
                                                type: string
                                              indices:
                                                type: array
                                                items:
                                                  type: integer
                                              url:
                                                type: string
                                    url:
                                      type: object
                                      properties:
                                        urls:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              display_url:
                                                type: string
                                              expanded_url:
                                                type: string
                                              indices:
                                                type: array
                                                items:
                                                  type: integer
                                              url:
                                                type: string
                        entities:
                          type: object
                          properties:
                            hashtags:
                              type: array
                              items:
                                type: object
                                properties:
                                  indices:
                                    type: array
                                    items:
                                      type: integer
                                  text:
                                    type: string
                            urls:
                              type: array
                              items:
                                type: object
                                properties:
                                  display_url:
                                    type: string
                                  expanded_url:
                                    type: string
                                  indices:
                                    type: array
                                    items:
                                      type: integer
                                  url:
                                    type: string
                            user_mentions:
                              type: array
                              items:
                                type: object
                                properties:
                                  id_str:
                                    type: string
                                    description: The ID of the user being mentioned
                                  name:
                                    type: string
                                    description: The name of the user being mentioned
                                  screen_name:
                                    type: string
                                    description: >-
                                      The screen name of the user being
                                      mentioned
                  has_next_page:
                    type: boolean
                    description: Indicates if there are more results available
                  next_cursor:
                    type: string
                    description: Cursor for fetching the next page of results
                  status:
                    type: string
                    enum:
                      - success
                      - error
                    description: Status of the request.success or error
                  message:
                    type: string
                    description: Message of the request.error message
                required:
                  - tweets
                  - has_next_page
                  - next_cursor
                  - status
                  - message
              example:
                tweets:
                  - type: tweet
                    id: string
                    url: string
                    text: string
                    source: string
                    retweetCount: 155
                    replyCount: 5226
                    likeCount: 3080
                    quoteCount: 922
                    viewCount: 2034
                    createdAt: string
                    lang: string
                    bookmarkCount: 9790
                    isReply: false
                    inReplyToId: s
                    conversationId: string
                    inReplyToUserId: string
                    inReplyToUsername: string
                    author:
                      type: user
                      userName: string
                      url: string
                      id: string
                      name: string
                      isBlueVerified: true
                      verifiedType: string
                      profilePicture: string
                      coverPicture: string
                      description: string
                      location: string
                      followers: 498
                      following: 1036
                      canDm: true
                      createdAt: string
                      favouritesCount: 7651
                      hasCustomTimelines: true
                      isTranslator: false
                      mediaCount: 4640
                      statusesCount: 9592
                      withheldInCountries:
                        - string
                        - string
                      affiliatesHighlightedLabel: {}
                      possiblySensitive: true
                      pinnedTweetIds:
                        - string
                        - string
                      isAutomated: false
                      automatedBy: string
                      unavailable: true
                      message: string
                      unavailableReason: string
                      profile_bio:
                        description: string
                        entities:
                          description:
                            urls:
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 5349
                                  - 6155
                                url: string
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 5645
                                  - 1170
                                url: string
                          url:
                            urls:
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 8782
                                  - 1924
                                url: string
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 849
                                  - 5896
                                url: string
                    entities:
                      hashtags:
                        - indices:
                            - 6659
                            - 7803
                          text: string
                        - indices:
                            - 2182
                            - 7063
                          text: string
                      urls:
                        - display_url: string
                          expanded_url: string
                          indices:
                            - 1714
                            - 1341
                          url: string
                        - display_url: str
                          expanded_url: string
                          indices:
                            - 5069
                            - 4323
                          url: string
                      user_mentions:
                        - id_str: string
                          name: string
                          screen_name: string
                        - id_str: string
                          name: string
                          screen_name: string
                    quoted_tweet:
                      value: >-
                        <Circular reference to #/components/schemas/Tweet
                        detected>
                    retweeted_tweet:
                      value: >-
                        <Circular reference to #/components/schemas/Tweet
                        detected>
                  - type: tweet
                    id: string
                    url: string
                    text: string
                    source: string
                    retweetCount: 3497
                    replyCount: 7537
                    likeCount: 9279
                    quoteCount: 4472
                    viewCount: 2732
                    createdAt: string
                    lang: string
                    bookmarkCount: 9787
                    isReply: false
                    inReplyToId: string
                    conversationId: string
                    inReplyToUserId: string
                    inReplyToUsername: string
                    author:
                      type: user
                      userName: string
                      url: string
                      id: string
                      name: string
                      isBlueVerified: true
                      verifiedType: string
                      profilePicture: string
                      coverPicture: string
                      description: string
                      location: string
                      followers: 1371
                      following: 4875
                      canDm: true
                      createdAt: string
                      favouritesCount: 8496
                      hasCustomTimelines: false
                      isTranslator: true
                      mediaCount: 3168
                      statusesCount: 1033
                      withheldInCountries:
                        - string
                        - string
                      affiliatesHighlightedLabel: {}
                      possiblySensitive: true
                      pinnedTweetIds:
                        - string
                        - string
                      isAutomated: true
                      automatedBy: string
                      unavailable: false
                      message: string
                      unavailableReason: string
                      profile_bio:
                        description: string
                        entities:
                          description:
                            urls:
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 3200
                                  - 4584
                                url: string
                              - display_url: string
                                expanded_url: strin
                                indices:
                                  - 136
                                  - 9107
                                url: string
                          url:
                            urls:
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 4626
                                  - 2925
                                url: string
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 339
                                  - 1896
                                url: string
                    entities:
                      hashtags:
                        - indices:
                            - 431
                            - 3767
                          text: string
                        - indices:
                            - 1811
                            - 5329
                          text: string
                      urls:
                        - display_url: string
                          expanded_url: string
                          indices:
                            - 1120
                            - 1997
                          url: string
                        - display_url: string
                          expanded_url: string
                          indices:
                            - 3531
                            - 8678
                          url: string
                      user_mentions:
                        - id_str: string
                          name: string
                          screen_name: string
                        - id_str: string
                          name: string
                          screen_name: string
                    quoted_tweet:
                      value: >-
                        <Circular reference to #/components/schemas/Tweet
                        detected>
                    retweeted_tweet:
                      value: >-
                        <Circular reference to #/components/schemas/Tweet
                        detected>
                status: success
                message: string
                has_next_page: false
                next_cursor: string
        '400':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: integer
                  message:
                    type: string
                required:
                  - error
                  - message
              example:
                error: 520
                message: string
  /twitter/user/mentions:
    parameters: []
    get:
      summary: >-
        get tweet mentions by user screen name.Each page returns exactly 20
        mentions. Use cursor for pagination. Order by mention time desc
      tags:
        - twitter
        - user
        - mentions
      parameters:
        - name: userName
          in: query
          required: true
          description: (Required) The user screen name to get. eg. kaitoEasyApi
          example: string
          schema:
            deprecated: false
            type: string
        - name: sinceTime
          in: query
          required: false
          description: On or after a specified unix timestamp in seconds.
          example: '2669'
          schema:
            deprecated: false
            type: integer
            format: int64
        - name: untilTime
          in: query
          required: false
          description: Before a specified unix timestamp in seconds.
          example: '2669'
          schema:
            deprecated: false
            type: integer
            format: int64
        - name: cursor
          in: query
          required: false
          description: The cursor to paginate through the results. First page is "".
          example: string
          schema:
            deprecated: false
            type: string
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Tweet quotes response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tweets:
                    type: array
                    description: Array of tweets
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - tweet
                        id:
                          type: string
                          description: The ID of the tweet
                        url:
                          type: string
                          description: The URL of the tweet
                        text:
                          type: string
                          description: The text of the tweet
                        source:
                          type: string
                          description: The source of the tweet.eg. "Twitter for iPhone"
                        retweetCount:
                          type: integer
                          description: The number of times the tweet has been retweeted
                        replyCount:
                          type: integer
                          description: The number of times the tweet has been replied to
                        likeCount:
                          type: integer
                          description: The number of times the tweet has been liked
                        quoteCount:
                          type: integer
                          description: The number of times the tweet has been quoted
                        viewCount:
                          type: integer
                          description: The number of times the tweet has been viewed
                        createdAt:
                          type: string
                          description: >-
                            The date and time the tweet was created.eg. Tue Dec
                            10 07:00:30 +0000 2024
                        lang:
                          type: string
                          description: The language of the tweet.eg. "en".may be empty
                        bookmarkCount:
                          type: integer
                          description: The number of times the tweet has been bookmarked
                        isReply:
                          type: boolean
                          description: Indicates if the tweet is a reply
                        inReplyToId:
                          type: string
                          description: The ID of the tweet being replied to.may be empty
                        conversationId:
                          type: string
                          description: >-
                            The ID of the conversation the tweet is part of.may
                            be empty
                        inReplyToUserId:
                          type: string
                          description: The ID of the user being replied to.may be empty
                        inReplyToUsername:
                          type: string
                          description: >-
                            The username of the user being replied to.may be
                            empty
                        author:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - user
                            userName:
                              type: string
                              description: The username of the Twitter user
                            url:
                              type: string
                              description: The x.com URL of the user's profile
                            id:
                              type: string
                              description: The unique identifier of the user
                            name:
                              type: string
                              description: The display name of the user
                            isBlueVerified:
                              type: boolean
                              description: Whether the user has Twitter Blue verification
                            verifiedType:
                              type: string
                              description: >-
                                The type of verification. eg. "government" ,can
                                be empty
                            profilePicture:
                              type: string
                              description: URL of the user's profile picture
                            coverPicture:
                              type: string
                              description: URL of the user's cover picture
                            description:
                              type: string
                              description: The user's profile description
                            location:
                              type: string
                              description: >-
                                The user's location.for example: 東京の端っこ . may be
                                empty
                            followers:
                              type: integer
                              description: Number of followers
                            following:
                              type: integer
                              description: Number of accounts following
                            canDm:
                              type: boolean
                              description: Whether the user can receive DMs
                            createdAt:
                              type: string
                              description: >-
                                When the account was created.for example: Thu
                                Dec 13 08:41:26 +0000 2007
                            favouritesCount:
                              type: integer
                              description: Number of favorites
                            hasCustomTimelines:
                              type: boolean
                              description: Whether the user has custom timelines
                            isTranslator:
                              type: boolean
                              description: Whether the user is a translator
                            mediaCount:
                              type: integer
                              description: Number of media posts
                            statusesCount:
                              type: integer
                              description: Number of status updates
                            withheldInCountries:
                              type: array
                              description: Countries where the account is withheld
                              items:
                                type: string
                            affiliatesHighlightedLabel:
                              type: object
                              properties: {}
                            possiblySensitive:
                              type: boolean
                              description: >-
                                Whether the account may contain sensitive
                                content
                            pinnedTweetIds:
                              type: array
                              description: IDs of pinned tweets
                              items:
                                type: string
                            isAutomated:
                              type: boolean
                              description: Whether the account is automated
                            automatedBy:
                              type: string
                              description: The account that automated the account
                            unavailable:
                              type: boolean
                              description: Whether the account is unavailable
                            message:
                              type: string
                              description: >-
                                The message of the account.eg. "This account is
                                unavailable" or "This account is suspended"
                            unavailableReason:
                              type: string
                              description: >-
                                The reason the account is unavailable.eg.
                                "suspended" 
                            profile_bio:
                              type: object
                              properties:
                                description:
                                  type: string
                                entities:
                                  type: object
                                  properties:
                                    description:
                                      type: object
                                      properties:
                                        urls:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              display_url:
                                                type: string
                                              expanded_url:
                                                type: string
                                              indices:
                                                type: array
                                                items:
                                                  type: integer
                                              url:
                                                type: string
                                    url:
                                      type: object
                                      properties:
                                        urls:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              display_url:
                                                type: string
                                              expanded_url:
                                                type: string
                                              indices:
                                                type: array
                                                items:
                                                  type: integer
                                              url:
                                                type: string
                        entities:
                          type: object
                          properties:
                            hashtags:
                              type: array
                              items:
                                type: object
                                properties:
                                  indices:
                                    type: array
                                    items:
                                      type: integer
                                  text:
                                    type: string
                            urls:
                              type: array
                              items:
                                type: object
                                properties:
                                  display_url:
                                    type: string
                                  expanded_url:
                                    type: string
                                  indices:
                                    type: array
                                    items:
                                      type: integer
                                  url:
                                    type: string
                            user_mentions:
                              type: array
                              items:
                                type: object
                                properties:
                                  id_str:
                                    type: string
                                    description: The ID of the user being mentioned
                                  name:
                                    type: string
                                    description: The name of the user being mentioned
                                  screen_name:
                                    type: string
                                    description: >-
                                      The screen name of the user being
                                      mentioned
                  has_next_page:
                    type: boolean
                    description: >-
                      Indicates if there are more results available. If true,
                      use next_cursor to fetch the next page. Warning: Due to
                      Twitter API inconsistency, has_more might return true even
                      when no additional data exists. In such cases, subsequent
                      requests will return empty results - this is a known
                      platform limitation.
                  next_cursor:
                    type: string
                    description: Cursor for fetching the next page of results
                  status:
                    type: string
                    enum:
                      - success
                      - error
                    description: Status of the request.success or error
                  message:
                    type: string
                    description: Message of the request.error message
              example:
                tweets:
                  - type: tweet
                    id: string
                    url: string
                    text: s
                    source: string
                    retweetCount: 1816
                    replyCount: 2977
                    likeCount: 1429
                    quoteCount: 7036
                    viewCount: 6063
                    createdAt: string
                    lang: string
                    bookmarkCount: 2752
                    isReply: false
                    inReplyToId: string
                    conversationId: string
                    inReplyToUserId: string
                    inReplyToUsername: string
                    author:
                      type: user
                      userName: string
                      url: string
                      id: string
                      name: string
                      isBlueVerified: true
                      verifiedType: string
                      profilePicture: string
                      coverPicture: string
                      description: string
                      location: string
                      followers: 1630
                      following: 3493
                      canDm: true
                      createdAt: string
                      favouritesCount: 9220
                      hasCustomTimelines: true
                      isTranslator: false
                      mediaCount: 616
                      statusesCount: 8042
                      withheldInCountries:
                        - string
                        - string
                      affiliatesHighlightedLabel: {}
                      possiblySensitive: true
                      pinnedTweetIds:
                        - string
                        - string
                      isAutomated: false
                      automatedBy: string
                      unavailable: false
                      message: string
                      unavailableReason: string
                      profile_bio:
                        description: string
                        entities:
                          description:
                            urls:
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 7700
                                  - 6380
                                url: string
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 7342
                                  - 5812
                                url: string
                          url:
                            urls:
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 5276
                                  - 9219
                                url: string
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 2350
                                  - 4157
                                url: string
                    entities:
                      hashtags:
                        - indices:
                            - 3811
                            - 1097
                          text: string
                        - indices:
                            - 1976
                            - 4218
                          text: string
                      urls:
                        - display_url: string
                          expanded_url: string
                          indices:
                            - 693
                            - 8297
                          url: string
                        - display_url: string
                          expanded_url: string
                          indices:
                            - 5828
                            - 2248
                          url: string
                      user_mentions:
                        - id_str: s
                          name: string
                          screen_name: string
                        - id_str: string
                          name: string
                          screen_name: string
                    quoted_tweet:
                      value: >-
                        <Circular reference to #/components/schemas/Tweet
                        detected>
                    retweeted_tweet:
                      value: >-
                        <Circular reference to #/components/schemas/Tweet
                        detected>
                  - type: tweet
                    id: string
                    url: string
                    text: string
                    source: string
                    retweetCount: 9823
                    replyCount: 4685
                    likeCount: 9175
                    quoteCount: 9944
                    viewCount: 5435
                    createdAt: string
                    lang: string
                    bookmarkCount: 5817
                    isReply: false
                    inReplyToId: string
                    conversationId: string
                    inReplyToUserId: string
                    inReplyToUsername: string
                    author:
                      type: user
                      userName: string
                      url: s
                      id: string
                      name: string
                      isBlueVerified: true
                      verifiedType: string
                      profilePicture: string
                      coverPicture: string
                      description: string
                      location: string
                      followers: 8387
                      following: 7703
                      canDm: false
                      createdAt: string
                      favouritesCount: 5804
                      hasCustomTimelines: true
                      isTranslator: true
                      mediaCount: 4953
                      statusesCount: 8929
                      withheldInCountries:
                        - string
                        - string
                      affiliatesHighlightedLabel: {}
                      possiblySensitive: false
                      pinnedTweetIds:
                        - string
                        - string
                      isAutomated: false
                      automatedBy: string
                      unavailable: false
                      message: string
                      unavailableReason: string
                      profile_bio:
                        description: string
                        entities:
                          description:
                            urls:
                              - display_url: string
                                expanded_url: st
                                indices:
                                  - 5558
                                  - 1455
                                url: str
                              - display_url: str
                                expanded_url: string
                                indices:
                                  - 4366
                                  - 349
                                url: string
                          url:
                            urls:
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 6058
                                  - 7567
                                url: string
                              - display_url: string
                                expanded_url: string
                                indices:
                                  - 974
                                  - 4969
                                url: string
                    entities:
                      hashtags:
                        - indices:
                            - 8728
                            - 5245
                          text: string
                        - indices:
                            - 3122
                            - 6893
                          text: string
                      urls:
                        - display_url: string
                          expanded_url: string
                          indices:
                            - 757
                            - 2298
                          url: string
                        - display_url: string
                          expanded_url: string
                          indices:
                            - 4413
                            - 7569
                          url: string
                      user_mentions:
                        - id_str: string
                          name: string
                          screen_name: string
                        - id_str: string
                          name: string
                          screen_name: string
                    quoted_tweet:
                      value: >-
                        <Circular reference to #/components/schemas/Tweet
                        detected>
                    retweeted_tweet:
                      value: >-
                        <Circular reference to #/components/schemas/Tweet
                        detected>
                has_next_page: false
                next_cursor: string
                status: success
                message: string
        '400':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: integer
                  message:
                    type: string
                required:
                  - error
                  - message
              example:
                error: 520
                message: string
  /twitter/user/followers:
    parameters: []
    get:
      summary: >-
        Get user followers in reverse chronological order (newest first).
        Returns exactly 200 followers per page, sorted by follow date. Most
        recent followers appear on the first page. Use cursor for pagination
        through the complete followers list.
      tags:
        - twitter
        - user
        - followers
      parameters:
        - name: userName
          in: query
          required: true
          description: (Required) screen name of the user
          example: string
          schema:
            deprecated: false
            type: string
        - name: cursor
          in: query
          required: false
          description: The cursor to paginate through the results. First page is "".
          example: string
          schema:
            deprecated: false
            type: string
        - name: pageSize
          in: query
          required: false
          description: >-
            The number of followings to return per page. Default is 200.min
            20,max 200
          example: '200'
          schema:
            deprecated: false
            type: integer
            default: 200
        - name: Accept
          in: header
          required: false
          example: application/json
          schema:
            type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: User info
          content:
            application/json:
              schema:
                type: object
                properties:
                  followers:
                    type: array
                    description: Array of followers
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - user
                        userName:
                          type: string
                          description: The username of the Twitter user
                        url:
                          type: string
                          description: The x.com URL of the user's profile
                        id:
                          type: string
                          description: The unique identifier of the user
                        name:
                          type: string
                          description: The display name of the user
                        isBlueVerified:
                          type: boolean
                          description: Whether the user has Twitter Blue verification
                        verifiedType:
                          type: string
                          description: >-
                            The type of verification. eg. "government" ,can be
                            empty
                        profilePicture:
                          type: string
                          description: URL of the user's profile picture
                        coverPicture:
                          type: string
                          description: URL of the user's cover picture
                        description:
                          type: string
                          description: The user's profile description
                        location:
                          type: string
                          description: >-
                            The user's location.for example: 東京の端っこ . may be
                            empty
                        followers:
                          type: integer
                          description: Number of followers
                        following:
                          type: integer
                          description: Number of accounts following
                        canDm:
                          type: boolean
                          description: Whether the user can receive DMs
                        createdAt:
                          type: string
                          description: >-
                            When the account was created.for example: Thu Dec 13
                            08:41:26 +0000 2007
                        favouritesCount:
                          type: integer
                          description: Number of favorites
                        hasCustomTimelines:
                          type: boolean
                          description: Whether the user has custom timelines
                        isTranslator:
                          type: boolean
                          description: Whether the user is a translator
                        mediaCount:
                          type: integer
                          description: Number of media posts
                        statusesCount:
                          type: integer
                          description: Number of status updates
                        withheldInCountries:
                          type: array
                          description: Countries where the account is withheld
                          items:
                            type: string
                        affiliatesHighlightedLabel:
                          type: object
                          properties: {}
                        possiblySensitive:
                          type: boolean
                          description: Whether the account may contain sensitive content
                        pinnedTweetIds:
                          type: array
                          description: IDs of pinned tweets
                          items:
                            type: string
                        isAutomated:
                          type: boolean
                          description: Whether the account is automated
                        automatedBy:
                          type: string
                          description: The account that automated the account
                        unavailable:
                          type: boolean
                          description: Whether the account is unavailable
                        message:
                          type: string
                          description: >-
                            The message of the account.eg. "This account is
                            unavailable" or "This account is suspended"
                        unavailableReason:
                          type: string
[...]
